<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publish my painting</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
    <body style="background-color: cornflowerblue">
        <div id="dvPainting" align="center">
            <form id="frmPainting"
                  method="post"
                  enctype="multipart/form-data"
                  action="/post_painting">
                    <p>Hello {{ usr.username }}!</p>
                    <br/><br/><br/>
                    <label for="edTitle">Write a title for your painting! </label>
                    <br/><br/>
                    <input type="text" id="edTitle" name="edTitle" placeholder="this is a title..."/>
                    <br/><br/>
                    <label for="edPainting">Choose the picture of your painting! </label>
                    <br/><br/>
                    <input type="file" id="edPainting" name="edPainting" style="margin:20px; font-size: 16px"/>
                    <br/><br/><br/>
                    <p>You can see the uploaded image after selecting the publish button!</p>
                    <p>(Don't forget to select the Home link to return home after seeing the image)</p>
                    <input type="submit" value="Publish" style="font-size: 16px"/>
                    <br/><br/>
                    <a href="/" style="font-size: larger; background: aliceblue">HOME</a>
            </form>
        </div>
        <div id="dvErrors" style="font-weight: bold; color:  darkblue">
                {% with msgs = get_flashed_messages() %}
                    {% if msgs %}
                        <ul>
                            {% for msg in msgs %}
                            <li> {{msg}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

            </div>
    </body>
</html>